@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');
body {
    color: #fff;
    background-image: url(images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(257, 40%, 49%);
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 85%;
    margin: 0 auto;
}
.logo{
    padding: 20px 50px;
}
.main{
    width: 100%;
    padding: 50px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.img{
    width:40%;
    height: 100%;
}
.main-foto{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.texts{
    width: 50%;
}
.head-text {  
    font-family: 'Poppins', sans-serif;
}

.text{
    line-height: 1.2;
    word-spacing: 2px;   
    width: 80%;
}
button {
    color: blueviolet;
    border-style: none;
    border-radius: 20px;
    padding: 10px 20px;
}
button:hover {
    box-shadow: 1px 1px 2px 1px black;
    cursor: pointer;
    background-color: hsl(300, 69%, 71%); 
}

.footer {
    letter-spacing: 15px;
}
.social{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
}
.social a i {
    color: #fff;
    font-size: 18px;
    position: relative; 
}
.social a i::after {
   content: '';
   position: absolute;
   height: 35px;
   width: 35px;
   border: 1px solid #fff;
   border-radius: 50%;
   left: -10px;
   bottom: -9px; 
   
}
.social a:hover i {
    color: hsl(300, 69%, 71%) ;
}
.social a i:hover::after {
    border-color: hsl(300, 69%, 71%) ;
}